body {
	background-color: black
}

.jumbotron {
	border: solid blue 2px;
}

h1 {
	font-size: 42px;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
	text-align: center;

}

label {
	color: white;
}